<div class="container mx-auto px-4 py-8"
     data-controller="situation"
     data-situation-current-index-value="<%= @current_sentence_index %>"
     data-situation-total-sentences-value="<%= @sentences.length %>">
  <%= render "contexts/breadcrumbs" %>

  <div class="bg-white shadow-md rounded-lg p-6" data-controller="audio">
    <% @sentences.each_with_index do |sentence, index| %>
      <div class="sentence-card mb-4 <%= index == @current_sentence_index ? '' : 'hidden' %>" data-situation-target="sentenceCard">
        <div class="flex items-center justify-between mb-2">
          <div class="flex items-center flex-1">
            <%= image_tag sentence.character.avatar, class: "w-8 h-8 rounded-full mr-2 border-2 border-red-500 p-0.5", alt: "Avatar" %>
            <span class="text-gray-500"><%= render "words/word", word: sentence.character.name_word %></span>
          </div>
          <div>
            <button
              data-action="click->audio#playSentence"
              data-audio-url-param="<%= rails_blob_url(sentence.audio) %>"
              data-audio-target="playButton"
              class="text-gray-800 font-bold rounded-full hover:border-black border-2"
            >
              <%= image_tag "icons/play_button.svg" %>
            </button>
            <button
              data-action="click->audio#stopAllAudio"
              data-audio-target="stopButton"
              class="hidden text-gray-800 font-bold rounded-full hover:border-black border-2"
            >
              <%= image_tag "icons/stop_button.svg" %>
            </button>
          </div>
        </div>

        <div data-situation-target="textContent" class="hidden">
          <div class="text-options mb-4">
            <%= form_tag(context_situation_path(@context, @situation), method: :get, data: { turbo_frame: "_top" }) do %>
              <%= hidden_field_tag :sentence_index, index %>
              <%= hidden_field_tag :show_text, true %>
              <%= check_box_tag :text_japanese, "on", cookies[:text_japanese] == "on", onchange: "this.form.submit()" %>
              <%= label_tag :text_japanese, "Japanese" %>
              <%= check_box_tag :text_romaji, "on", cookies[:text_romaji] == "on", onchange: "this.form.submit()" %>
              <%= label_tag :text_romaji, "Romaji" %>
              <%= check_box_tag :text_furigana, "on", cookies[:text_furigana] == "on", onchange: "this.form.submit()" %>
              <%= label_tag :text_furigana, "Furigana" %>
              <%= check_box_tag :text_english, "on", cookies[:text_english] == "on", onchange: "this.form.submit()" %>
              <%= label_tag :text_english, "English" %>
            <% end %>
          </div>

          <% if cookies[:text_japanese] == "on" %>
            <div class="flex-1">
              <%= render partial: "words/word", collection: sentence.words, as: :word %>
            </div>
          <% end %>
          <% if cookies[:text_romaji] == "on" %>
            <div class="text-gray-600"><%= sentence.romaji %></div>
          <% end %>
          <% if cookies[:text_english] == "on" %>
            <div class="text-gray-600"><%= sentence.translation %></div>
          <% end %>
        </div>
      </div>
    <% end %>

    <button
      data-situation-target="textToggle"
      data-action="click->situation#toggleText"
      class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mt-4 inline-block"
    >
      Show text
    </button>

    <%= link_to "Next",
                context_situation_path(@context, @situation, sentence_index: @current_sentence_index + 1),
                class: "bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mt-4 inline-block hidden",
                data: {
                  situation_target: "nextButton",
                  action: "click->situation#next",
                  all_sentences_url: context_situation_path(@context, @situation, show_all: true)
                } %>
  </div>
</div>
