<% content_for :title, "Edit Situation - JapanLingua Admin" %>

<main class="container mx-auto px-4 py-8">
  <%= render "admin/contexts/breadcrumbs" %>

  <div class="bg-white shadow-md rounded-lg overflow-hidden mb-8">
    <div class="px-6 py-4 border-b border-gray-200">
      <h2 class="text-2xl font-semibold">Edit Situation</h2>
    </div>
    <div class="p-6">
      <%= render "form", situation: @situation %>
    </div>
  </div>

  <div class="bg-white shadow-md rounded-lg overflow-hidden mb-8">
    <div class="px-6 py-4 border-b border-gray-200">
      <h2 class="text-2xl font-semibold">Sentences</h2>
    </div>
    <div class="p-6">
      <%= form_with(model: [:admin, @context, @situation, @situation.sentences.build], local: true, class: "mb-6") do |form| %>
        <div class="mb-4">
          <%= form.label :content, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= form.text_field :content, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-4">
          <%= form.label :character_id, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= form.select :character_id, options_for_select(Sentence::CHARACTERS.map { |character| [character[:hiragana_name], character[:id]] }), {}, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="mb-4">
          <%= form.label :audio, class: "block text-gray-700 text-sm font-bold mb-2" %>
          <%= form.file_field :audio, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>
        <div class="flex items-center justify-end">
          <%= form.submit "Add Sentence", class: "bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300" %>
        </div>
      <% end %>
      <div data-controller="popover" class="space-y-4">
        <% @situation.sentences.each do |sentence| %>
          <% next unless sentence.persisted? %>
          <div class="bg-gray-50 p-4 rounded-lg">
            <div class="mb-2">
              <%= render partial: "words/word", collection: sentence.words, as: :word %>
            </div>
            <div class="text-sm text-gray-600"><%= sentence.translation %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex justify-end">
    <%= link_to "Back to Context", admin_context_path(@context), class: "bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded transition duration-300" %>
  </div>
</main>
