<div class="bg-gray-100 min-h-screen flex flex-col items-center">
  <main class="container mx-auto px-4 py-8 max-w-3xl">
    <%= render "contexts/breadcrumbs" %>
    
    <div class="bg-red-500 text-white rounded-3xl p-12 mb-8 flex flex-col items-center justify-center w-full">
      <%= image_tag("icons/#{@context.icon}") if @context.icon %>
      <h2 class="text-3xl font-bold mt-4"><%= @context.name %></h2>
    </div>
    
    <div class="space-y-6 w-full">
      <% @context.situations.each_with_index do |situation, index| %>
        <div class="bg-red-50 rounded-2xl overflow-hidden">
          <div class="p-6 flex items-center justify-between">
            <div>
              <h3 class="text-xl font-semibold text-gray-800 mb-2">Lesson <%= sprintf('%02d', index + 1) %></h3>
              <p class="text-gray-500"><%= situation.title %></p>
            </div>
            <div class="flex space-x-4">
              <%= link_to context_situation_sentence_path(@context, situation, situation.sentences.order(:id).first), class: "bg-red-400 hover:bg-red-600 text-white rounded-lg p-3 transition duration-300" do %>
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"></path>
                </svg>
              <% end %>
              <%= link_to context_reviews_path(@context, situation_id: situation.id), class: "bg-red-400 hover:bg-red-600 text-white rounded-lg p-3 transition duration-300" do %>
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
                </svg>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </main>
</div>
