<div class="container mx-auto px-4 py-8">
  <%= render "contexts/breadcrumbs" %>
  
  <% if @words.present? %>
    <div id="flashcard-container" data-controller="flashcard">
      <div data-flashcard-target="container" class="max-w-md mx-auto">
        <% @words.each_with_index do |word, index| %>
          <div class="flashcard-wrapper <%= index.zero? ? '' : 'hidden' %>" data-flashcard-target="card" data-review-id="<%= @reviews[index].id %>">
            <div class="flashcard" data-action="click->flashcard#flipCard">
              <div class="flashcard-inner">
                <div class="flashcard-front">
                  <h2 class="text-3xl font-bold mb-2 text-center"><%= word.content %></h2>
                  <p class="text-xl text-gray-600 text-center"><%= word.reading_hiragana %></p>
                  <p class="text-lg text-gray-500 text-center"><%= word.reading_romaji %></p>
                </div>
                <div class="flashcard-back">
                  <h3 class="text-2xl font-semibold mb-2 text-center">Translation:</h3>
                  <p class="text-xl text-gray-800 text-center"><%= word.translation %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        
        <div class="mt-6 flex justify-between">
          <button data-action="click->flashcard#markUnknown" class="bg-red-500 hover:bg-red-600 text-white font-bold py-3 px-6 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1">
            I don't know
          </button>
          <button data-action="click->flashcard#markKnown" class="bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1">
            I know
          </button>
        </div>
        
        <div class="mt-6 text-center">
          <p class="text-gray-600 text-lg" data-flashcard-target="progress"></p>
        </div>
      </div>
      
      <div data-flashcard-target="completionMessage" class="hidden max-w-md mx-auto mt-8 text-center">
        <p class="text-xl font-semibold">Great job! You've completed all the flashcards.</p>
        <p class="mt-4 text-gray-600">Come back later for more reviews or learn new words by exploring situations.</p>
      </div>
    </div>
  <% else %>
    <p class="text-center text-xl">No reviews available at this time. Great job on staying up to date!</p>
  <% end %>
</div>
